---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Prabu Weerasinghe">
	<main class="flex flex-col gap-6 justify-center">
    <img src="me_small.jpg" class="mx-auto" alt="Prabu Weerasinghe"/>
    <div class="text-center font-mono">Engineer @ Intercom</div>
    <hr class="h-px border-gray-800 border-1">
	</main>
</Layout>
