---
import 'typeface-et-book';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style>
      body {
        background-color: #f9f1cb;
        background-size: 20px 20px;
        background-image: radial-gradient(
          circle,
          #d5d4ca 1px,
          rgba(0, 0, 0, 0) 1px
        );
      }
    </style>
  </head>
  <body class="m-auto my-10 max-w-prose align-content">
    <header class="mb-5 text-center">
      <h3 class="font-serif text-5xl text-stone-700">Prabu Weerasinghe</h3>
    </header>
    <slot />
  </body>
</html>

